/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* ---------------------------------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* --------------------------------------------- */

.feedback-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  gap: 8px;
  text-align: left;
}

.feedback-form input,
.feedback-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  width: auto;
  cursor: pointer;
  font-size: 16px;
  width: 95px;
  margin-top: 8px;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
