/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05); /* увеличиваем на 5% */
  cursor: pointer; /* меняем курсор на указатель */
}
